@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: 'Lexend Peta', sans-serif;
    height: auto;
    width: 100vw;
    overflow-x: hidden;
    background-color: black;
    color: white;
}
#home{
    height: 100vh;
    display: grid;
    place-content: center;
    font-weight: 700;
    font-size: 5rem;
    position: relative;
}
#home .scrolldwn{
    position: absolute;
    bottom: 150px;
    width: 100%;
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    border: none;
    background: none;
    color: inherit;
    font-family: inherit;
}
.movie{
    height: 100vh;
    grid-template-columns: 40% 1fr;
    position: relative;
    overflow: hidden;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.movie img{
    filter: blur(10px) saturate(0);
    width: 100vw;
    position: absolute;
    z-index: -1;
}
.movie::after{
    z-index: -1;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, black 0%, rgba(0, 0, 0, 0) 100%);
}
.movie header{
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: 100%;
}
.movie .next,
.movie .about{
    position: absolute;
    width: 100px;
    height: 50px;
    background-color: white;
    font-family: inherit;
    border: none;
    border-radius: 15px;
    bottom: 150px;
}
footer{
    height: auto;
    min-height: 25vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    color: rgba(255, 255, 255, 0.4);
    gap: 3rem;
}
footer header{
    font-size: 3rem;
    font-weight: 700;
}
footer p{
    text-transform: uppercase;
}
button.home{
    border-radius: 50%;
    border: 5px solid white;
    position: fixed;
    bottom: 50px;
    right: 30px;
    display: none;
}
button.home img{
    border-radius: 50%;
    width: 40px;
}
@media screen and (max-width: 400px) {
    #home{
        font-size: 3rem;
    }
    .movie{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .movie img{
        height: 100%;
        width: auto;
    }
    .movie::after{
        background: linear-gradient(90deg, black -10%, rgba(0, 0, 0, 0) 150%);
    }
    .movie header{
        font-size: 1.5rem;
    }
    footer{
        flex-direction: column;
    }
    footer header{
        font-size: 2rem;
    }
    button.home img{
        width: 30px;
    }
}
